@model Post
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Editar Contacto
    </div>
    <div class="card-body">
        <form asp-action="Eliminar" asp-controller="Controllers" method="post">
            <input asp-for="IdPost" type="hidden" class="form-control">

            <div class="alert alert-danger" role="alert">
                Desea eliminar el contacto: @Html.DisplayTextFor(m => m.PostTitle)?
            </div>

            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Listar" asp-controller="Controllers" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>