@model ModelViews;
@{
    ViewData["Title"] = "InsertPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (!ModelViews.Validation)
{
    <div class="alert alert-danger" role="alert">
        Uno o mas campos nulos
    </div>
}
<div class="card">
    <div class="card-header">
        Add Post
    </div>
    <div class="card-body">
        <form method="post">
            <div class="mb-3">
                <label class="form-label">Title</label>
                <input asp-for="newPost.PostTitle" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="disabledSelect" class="form-label">Categories</label>
                <select asp-for="Category" id="disabledSelect" class="form-select">
                    @foreach (var i in ModelViews.categories)
                    {
                        <option>@i.Name</option>
                    }
                </select>
            </div>
            <hr />
            <div class="form-floating mb-3">
                <textarea asp-for="newPost.PostDescription" class="form-control" placeholder="Leave a body here" id="floatingTextarea2" style="height: 150px"></textarea>
                <label for="floatingTextarea2">Body</label>
            </div>
            <button asp-page-handler="InsertPost" type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>

